
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container input[type="text"],
.input-container input[type="number"],
.input-container input[type="date"] {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    flex-grow: 1;
    display: flex;
}
button {
    background-color: #2fbe34;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
   text-align: center;
   
}

button:hover {
    background-color: #555;
   
}

